In [1]:
import pandas as pd
import glob

In [2]:
print(glob.glob("./data/*.csv"))

['./data\\all_ventures_by_stages.csv', './data\\education_for_ventures_with_coaches.csv', './data\\idea_ventures_by_industry.csv', './data\\pitches_attempted_by_quarter.csv', './data\\venture_contacts_education.csv']

In [3]:
all_ventures_by_stages = pd.read_csv('./data/all_ventures_by_stages.csv')
all_ventures_by_stages=all_ventures_by_stages[['Account Name','Stage']]
all_ventures_by_stages.shape[0]

508

In [18]:
idea_ventures_by_industry = pd.read_csv('./data/idea_ventures_by_industry.csv')
idea_ventures_by_industry=idea_ventures_by_industry[['Account Name','Active','Stage','Industry','Northeastern Relationship']]
idea_ventures_by_industry.shape[0]

508

In [5]:
pitches_attempted_by_quarter=pd.read_csv('./data/pitches_attempted_by_quarter.csv')
pitches_attempted_by_quarter.head()

,Account Name,Pitch Type,Pitch: Created Date,Last Modified Date,Pitch: Pitch Number,Pass,Pitched,Funded,Total Evaulation Score,Pitch Date,Pitch: Record Type
0,BEAST,Ready Stage Coaching Sessions,7/6/2021,6/1/2021,P-002229,NaN,NaN,NaN,11.0,7/6/2021,1. Office Hours
1,Project 2030,Ready Stage Coaching Sessions,7/15/2021,6/21/2021,P-002231,NaN,NaN,NaN,NaN,7/15/2021,1. Office Hours
2,CO-UNITY DATA,Ready Stage Coaching Sessions,7/20/2021,4/14/2021,P-002234,NaN,NaN,NaN,18.0,7/20/2021,1. Office Hours
3,LINK UP LLC.,Ready Stage Coaching Sessions,7/20/2021,8/13/2021,P-002235,NaN,NaN,NaN,20.0,7/20/2021,1. Office Hours
4,Grassroots-Fund,Ready Stage Coaching Sessions,7/28/2021,2/27/2021,P-002236,NaN,NaN,NaN,16.0,7/27/2021,1. Office Hours

In [15]:
venture_contacts_education = pd.read_csv('./data/venture_contacts_education.csv')
venture_contacts_education.shape[0]

729

In [24]:
new_db = pd.merge(idea_ventures_by_industry,venture_contacts_education, on='Account Name', how='right')

In [25]:
new_db.shape[0]

750